<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>家委会</title>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<!--
			Google Font
			============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500i" rel="stylesheet">

	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css">
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>

	<!-- Start Header Area -->
	<header id="header">
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li><a href="index.html">首页</a></li>						
						<li><a href="task.html">作业</a></li>
						<li class="menu-active"><a href="course.html">课件</a></li>
						<li><a href="about.html">关于家委会</a></li>
					</ul>
				</nav><!-- #nav-menu-container -->
			</div>
		</div>
	</header>
	<!-- End Header Area -->


	<!-- Start Banner Area -->
	<section class="banner-area relative">
		
	</section>
	<!-- End Banner Area -->


	<!-- Start About Area -->
	<section class="about-area ">
		<div class="container">
			<h3 class="mb-30">课程</h3>
			<div class="progress-table-wrap">
					<div id="app" class="progress-table">
						<div class="table-head">							
							<div class="visit">日期</div>
							<div class="country">科目</div>
							<div class="country">课程描述</div>
							<div class="country">附件</div>
						</div>
						<div class="table-row" v-for="course in courses">
						    <div class="visit">{{course.course_date}}</div>
							<div class="visit">{{course.course_subject}}</div>
							<div class="country">
							{{course.course_desc}}
							</div>
							<div class="country">
								<span v-if="course.course_url"><a v-bind:href="course.course_url">下载</a></span>
							</div>
						</div>						
					</div>
				</div>
		</div>
	</section>
	<!-- End About Area -->


	
    <section class="section-gap">
	</section>

	<!-- Start Footer Area -->
	<footer class="footer-area">
		<div class="container">
			<div class="footer-bottom row align-items-center">
				<p class="footer-text m-0 col-lg-8 col-md-12">
                    如有问题，请联系QQ：156232377。<a href="http://wukong1982.coding.me/homepage/">我的主页</a>
                </p>
			</div>
		</div>
	</footer>
	<!-- End Footer Area -->

	<script>
	    var app = new Vue({
            el: '#app',
            data: {
			    courses : []
            }
        })
	</script>

	<!-- ####################### End Scroll to Top Area ####################### -->

	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/easing.min.js"></script>
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/owl-carousel-thumb.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/parallax.min.js"></script>
	<script src="js/waypoints.min.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/jquery.counterup.min.js"></script>
	<script src="js/mail-script.js"></script>
	<script src="js/main.js"></script>

    <script>
	    $.ajax({
            //请求类型，这里为POST
            type: 'GET',
            //你要请求的api的URL
            url: 'https://api2.bmob.cn/1/classes/course',
            //是否使用缓存
            cache:false,
            //数据类型，这里我用的是json
            dataType: "json", 
            //必要的时候需要用JSON.stringify() 将JSON对象转换成字符串
            data: JSON.stringify({}), //
            //添加额外的请求头
            headers : {'X-Bmob-Application-Id':'3bea17a55823d07e2487d6db68a04ba0', 'X-Bmob-REST-API-Key':'c8069787cb4ff2c10d99dae927667233', 'Content-Type':'application/json'},
            //请求成功的回调函数
            success: function(data){
				app.courses = data.results;
            },
        });
	</script>
</body>

</html>